/.data/db.json
/.data/sqlite.db
.data/
auth.json
email_auth.json
_env
apiCodes.json
/modules/webserver/db/userdb.json
/modules/webserver/db/webcache.json
/modules/webserver/db/votes.json
/music
/.data/velociraptortokens.json
webcache.json
channelDb.json
translatekey.json
.pm2/
/.data/nps_email_directory.json
/node_modules/
/.data/classperiods.json