/.data/db.json
auth.json
_env
apiCodes.json
/webserver/db/userdb.json
/webserver/db/webcache.json
/webserver/db/votes.json
/music
/velociraptortokens.json
webcache.json
channelDb.json
translatekey.json
.pm2/